@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function height-vh-calc($quantity) {
  $quantity: strip-unit($quantity);
  @return calc(var(--vh, 1vh) * #{$quantity});
}

@function rem($size) {
  @if (unitless($size)) {
    $size: $size * 1px;
  }

  @return $size / 16px * 1rem;
}

@function em($size) {
  @if (unitless($size)) {
    $size: $size * 1px;
  }

  @return $size / 16px * 1em;
}

@function vw($size, $viewport: 1280px) {
  @if (unitless($size)) {
    $size: $size * 1px;
  }
  @if (unitless($viewport)) {
    $viewport: $viewport * 1px;
  }

  $viewport-context: $viewport * .01;
  @return rounded(($size / $viewport-context) * 1vw, 2);
}

@function pow($value, $pow: 1) {
  @return if($pow == 0, 1, $value * pow($value, $pow - 1));
}

@function rounded($value, $precision: 1) {
  $pow10: pow(10, $precision);
  @return round($value * $pow10) / $pow10;
}

@function color($color, $opacity: 1) {
  @return rgba($color, $opacity);
}
